@font-face {
    font-family: "Montserrat";
    src: url("static/Montserrat.ttf");
  }
* {
    font-family: "Montserrat";
}
div {
    color: #fff;
}
html {
    background-image: url('/static/background.png'), 
        linear-gradient(180deg, rgba(50,112,205,1) 0%, 
                    rgba(177,170,163,1) 100%);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background: ; */
    width: 100%;
    overflow-x: hidden;
}

body {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 140px;
} body div {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
a {
    color: #c8ffdf;
    text-decoration: none;
} a:hover{
    text-decoration: underline;
}
.name {
    gap: 32px;

}

.name_text {
    font-size: 50pt;
}

.title{
    font-size: 50pt;
    text-transform: uppercase;
}
.about_me_text {
    width: 70%;
    font-size: 28pt;
}
.achievements {
    gap: 54px;
}
.achievements_block, .portfolio_block {
    display: inline-flex;
    flex-direction: row;    
    gap: 34px;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 70%;
    border-radius: 45px;
    border: 3px solid #24AFFD;
    box-shadow: inset 0px 0px 13px 0px #000;
    background-color: rgb(255,255,255, 0.7);

    padding: 20px;
}
.achievements_block_achievement{
    transition: box-shadow .2s ease;
} .achievements_block_achievement:hover {
    box-shadow: 0px 0px 8px 0px #000;
}

.portfolio {
    gap: 34px;
}
.portfolio_item {
    justify-content: center;

    width: 120px;
    height: 120px;
    background-color: #D9D9D9;
    border-radius: 12px;
    padding: 52px;
    transition: box-shadow .2s ease;

} .portfolio_item:hover {
    box-shadow: 0px 0px 12px 0px #b4b4b4;
}

.links {
    gap: 34px;
    margin-bottom: 140px;
}

.portfolio_item a{
    text-transform: uppercase;
    color: #000;
    font-weight: 500;
    font-size: 20pt;
}
.links_block {
    display: inline-flex;
    flex-direction: row;
    gap: 34px;
    /* width: 80%; */
}