<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

  <link rel="stylesheet" href="/static/styles.css">
  <title>Альмухаметов Артём | Резюме</title>
</head>

<body>
  <div class="name">
    <div><img src="/static/Me.png" alt="Я"></div>
    <div class="name_text">Артём Альмухаметов</div>
  </div>
  <div class="about_me">
    <div class="title"><article id="about_me">Обо мне</article></div>
    <div class="about_me_text">
      <p>Я родился в Москве и уже с 5го класса увлёкся программированием. За эти 7м лет я перепробовал множество сфер от
        создания игр до программирования Arduino.
        Сейчас я уверенно владею Python, понимаю ООП и имею большой опыт в работе с разными библиотеками, фреймворками,
        а также другими языками программирования.
        На данный момент я учусь в 11 IT-классе.</p>
      <p>Я большой фанат искусства, в частности дизайна и музыки. Я даже основал свою студию дизайна <a
          href="https://graphizium.ru/">Graphizium</a> :)
      </p>
      <p>Я очень люблю всякого рода технику, и то как она работает. Помимо навыков в Computer Science, мне нравится
        работать руками, что-то спаять, починить, разобрать/собрать. Такая спокойная и методичная работа меня очень
        вдохновляет и увлекает на долгое время.
      </p>
      <p>Мне нравится читать или слушать аудиокниги. Нельзя сказать, что я приверженец единого жанра. За свою жизнь я
        прочёл как много художественной так и много технической литературы, и продолжаю это делать, развивая как свои
        духовные, так и профессиональные качества.
    </div>
    </p>
  </div>
  <div class="achievements">
    <div class="title"><article id="achievements">Мои достижения</article></div>
    <div class="achievements_block">
      <div class="achievements_block_achievement"
        onclick="location.href='https://images.graphizium.ru/photos/КодБудущего.pdf'">
        <img src="/static/КодБудущего.png" alt="КодБудущего">
      </div>
      <div class="achievements_block_achievement"
        onclick="location.href='https://images.graphizium.ru/photos/МояКарьера.png'">
        <img src="/static/МояКарьера.png" alt="МояКарьера">
      </div>
      <div class="achievements_block_achievement" onclick="location.href='https://www.codewars.com/users/Mukhachan'">
        <img src="/static/CodeWars.png" alt="CodeWars">
      </div>
      <div class="achievements_block_achievement"
        onclick="location.href='https://images.graphizium.ru/photos/ШкольныйДиплом.png'">
        <img src="/static/ШкольныйДиплом.png" alt="ШкольныйДиплом">
      </div>
      <div class="achievements_block_achievement"
        onclick="location.href='https://images.graphizium.ru/photos/Kasperskiy_Certificate_Almukhametov.pdf'">
        <img src="/static/Касперский.png" alt="Касперский">
      </div>
    </div>
  </div>
  <div class="portfolio">
    <div class="title"><article id="projoects">Мои Проекты</article></div>

    <div class="portfolio_block">
      <div class="portfolio_item"><a href="https://github.com/Mukhachan/TeleWeatherBot">погодный бот</a></div>
      <div class="portfolio_item"><a href="https://github.com/Mukhachan/NeuroGPT">Голосовой аватар</a></div>
      <div class="portfolio_item"><a href="https://graphizium.ru/">сайт студии дизайна</a></div>
      <div class="portfolio_item"><a href="https://github.com/Mukhachan/VavilonianLibrary">вавилонская библиотека</a></div>
      <div class="portfolio_item"><a href="https://github.com/Mukhachan/AstimulBotPatrick">бот для дискорд сервера</a></div>
    </div>
  </div>
  <div class="links">
    <div class="title"><article id="links">полезные ссылки</article></div>

    <div class="links_block">
      <span>Тел:<br><a href="tel:+79160115235">8 (916) 011 52-35</a></span>
      <span>Почта:<br><a href="mailto:aralmuhamet@gmail.com">aralmuhamet@gmail.com</a></span>
      <span>Telegram:<br><a href="https://t.me/flydesiner">t.me/flydesiner</a></span>
      <span>GitHub:<br><a href="https://github.com/Mukhachan">github.com/Mukhachan</a></span>
    </div>
  </div>
</body>

</html>